<div class="container">
	<div class="clearfix row">
		<div class="col-md-6 center-block">
			<h2>Contact Us:</h2>
			<hr>
			<input type="text" class="form-control input-lg" placeholder="name">
			<br>
			<input type="text" class="form-control input-lg" placeholder="organization">
			<br>
			<input type="text" class="form-control input-lg" placeholder="email@example.com">
			<br>
			<input type="text" class="form-control input-lg" placeholder="phone number (optional)">
			<br>
			<textarea class="form-control input-lg" rows="4" placeholder="A breif description of the desired work."></textarea>
			<br>
			<button type="submit" class="btn btn-primary btn-block btn-lg">Submit</button>
			<hr>
			
		</div>
	</div>
</div>