<section class="projects-page">
	<div ng-controller="kthalertCtrl">
	    <kthalert ng-hide="dialogIsHidden" on-close="hideDialog()">
	      {{vidbutton}}
	    </kthalert>
	    <button type="button" class="btn btn-lg btn-block btn-danger" href class="close" ng-click="hideDialog()">
	      <span class="fa fa-lg fa-fw fa-play-circle"></span>
	      watch video
	    </button>
	    <h1 class="h3" initial-delay="1.5s" typewrite type-delay="50" blink-cursor="false" text="Hello, welcome to Tactwork.com"></h1>
	</div>
	<div class="container">
	  <h2 class="text-success">Deliverables:</h2>
	  <hr>
	  <div class="row krow">
	    <div class="col-lg-4">
	      <div class="panel panel-default">
	        <div class="panel-heading">
	          <h4>Responsive Design <span class="pull-right text-success fa fa-lg fa-check"></span></h4>
	        </div>
	        <div class="panel-body">
	          <p>It works on any device, regardless of the screen size. No more transfering users to a mobile version of the site. It all works the same.</p>
	          <button class="btn btn-default btn-block btn-lg">read more</button>
	        </div>
	        <div class="panel-footer text-center">
	          <span class="fa-stack fa-lg">
	            <i class="fa text-success fa-circle fa-stack-2x"></i>
	            <i class="fa fa-tablet fa-stack-1x fa-inverse"></i>
	          </span>
	          <span class="fa-stack fa-lg">
	            <i class="fa text-success fa-circle fa-stack-2x"></i>
	            <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
	          </span>
	          <span class="fa-stack fa-lg">
	            <i class="fa text-success fa-circle fa-stack-2x"></i>
	            <i class="fa fa-mobile-phone fa-stack-1x fa-inverse"></i>
	          </span>
	        </div>
	      </div>
	    </div>
	    <div class="col-lg-4">
	      <div class="panel panel-default">
	        <div class="panel-heading">
	          <h4>Native Performance <span class="pull-right text-success fa fa-lg fa-check"></span></h4>

	        </div>
	        <div class="panel-body">
	          <p>It runs just as fast as a native app. The backend code can even be reused for a native app on both Android and iOS. The future is here &<strong> I utilize it.</strong></p>
	          <button class="btn btn-default btn-block btn-lg">read more</button>
	        </div>
	        <div class="panel-footer text-center">
	          <span class="fa-stack fa-lg">
	            <i class="text-danger fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
	          </span>
	          <span class="fa-stack fa-lg">
	            <i class="text-danger fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
	          </span>
	          <span class="fa-stack fa-lg">
	            <i class="text-danger fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-tachometer fa-stack-1x fa-inverse"></i>
	          </span>
	        </div>
	      </div>
	    </div>
	    <div class="col-lg-4">
	      <div class="panel panel-default">
	        <div class="panel-heading">
	          <h4>Software Independence <span class="pull-right text-success fa fa-lg fa-check"></span></h4>
	        </div>
	        <div class="panel-body">
	          <p>Works on any infrastructure.<strong>Windows, Mac, & Linux.</strong> No additional hardware requirements & updates provided for production <strong>life.</strong></p>
	          <button class="btn btn-default btn-block btn-lg">read more</button>
	        </div>
	        <div class="panel-footer text-center">
	          <span class="fa-stack fa-lg">
	            <i class="text-primary fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-cloud-download fa-stack-1x fa-inverse"></i>
	          </span>
	          <span class="fa-stack fa-lg">
	            <i class="text-primary fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
	          </span>
	          <span class="fa-stack fa-lg">
	            <i class="text-primary fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-cloud-upload fa-stack-1x fa-inverse"></i>
	          </span>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="container">
	  <h2 class="text-success">Build Principles:</h2>
	  <div class="row build-row">
	    <div class="col-md-12 build-col">
	      <h3>Development <span class="fa fa-fw fa-code"></span></h3>
	      <hr>
	      <p>
	        Here I wanna talk about WYSIWYG editors and why making a custom site is so important. I wanna show all the garbage code that an editor generates and then I wanna show some clean code.
	      </p>
	      <span><em>I can link to <strong>my first article</strong> entry which will be how I got started doing this, and why.</em> That should cover in detail everything I summarize here. </span>
	      <p>
	        I need to edit this but basically I'm going to talk about a developer workflow, I'll probably post a link to a article post showing my current workflow. Work smarter not harder. I also wanna talk about how you should always be thinking of the end-user. I wanna talk about developing elegantly in that regard.
	      </p>
	    </div>
	    <div class="col-md-12 build-col">
	      <h3>Implementation <span class="fa fa-fw fa-terminal"></span></h3>
	      <hr>
	      <p>
	        I wanna talk about how implementation should be completely dynamic, modular, and seamless. Be flexible yet concise. I mean, the entire goal here is to have a website that's just as good as a native app. We can even use this code IN an android or IOS app. It's pretty awesome. We have device independance: It works on any device. It runs on any server. and we can get our content out within <strong>one click</strong> <em>...that's pretty cool, I know.</em> <br> I could also talk about a two and three way data binding in the future.
	      </p>
	    </div>
	    <div class="col-md-12 build-col">
	      <h3>Maintenance <span class="fa fa-fw fa-cogs"></span></h3>
	      <hr>
	      <p>
	        Another important thing I wanna discuss is how <strong>design should all be mostly static</strong>. Get your layouts setup, and change very few variables. Remember we are creating a minimalist piece here. Get templates layed out and tweat them. That's why preprosscesor's are so great in that regard.
	      </p>
	      <span><strong>Your data models should be dynamic.</strong> Use your templates & models together wisely > profit.</span>
	      <p>
	        This definitely belongs here. I want to transition the static layouts and dynmic model concepts to the ease of use to the endusers and mid users (it's made just for them and what they need to do, nothing more.)
	      </p>
	      <span>
	        Finally, I want to talk about how easy it is to set up a test enviornment with rolling updates, which are then pushed to the dev enviornment after I've tested them. It's so easy, but automatic updating is scary verbage to people. I;ll have to word this more eloquently. I think people have had horror stories over WSUS because they configured it poorly or hastily.
	      </span>
	    </div>
	</div>
</section>
<script type="text/ng-template" id="kthalert.html">
  <div class="alert alert-danger">
    First time here? <a href>Watch the video.</a>
    <button type="button" class="btn btn-info" ng-click="open()" ng-controller="ModalDemoCtrl">
      <span class="fa fa-lg fa-fw fa-play-circle"></span>
      checkout the shortcuts
    </button>
    <button href class="close" ng-click="close()"><span class="fa fa-fw fa-times"></span></button>
    <div ng-transclude></div>
  </div>
</script>